{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is some home page</h1>
            <p> Made by Rumen Tsolov</p>
        <div>
    <div>
</div>

{{end}}